/* starndard setting  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general setting */
img{
    max-width: 60px;
}
/* main conteiner */
.wrapper{
    background:linear-gradient(#099688 10%, #D6DBD8 10%);
    width: 100%;
    height: 100vh;
   
}
/* main box */
.main-box{
    display:flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}
/* settting up the main two col*/
.left-column{
    display: flex;
    flex-direction: column;
    display: none;
}
.right-column{
   display: flex;
   flex-direction: column;
   display: block;
   width: 100%;
}
/* working on mobile first starting from the roght-hand nav bar */
.right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    width: 56,2rem;
    height: 70px;
}
.right-img{
    display: flex;
    align-items: center;
    padding: 5px;
}
.right-img ul li{
    list-style-type: none;
    padding: 5px;
}
.access{
   font-size: 12px;
}
.right-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
}
.name-right{
    padding: 20px;
}

.michele-right{
    display: block;
}


/* all element on the left column*/
/* .left-column > *{
    
} */

/* creating top left nav bar */
.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #EAEAEA;
    border-right: 1px solid grey;
   
}
.io img{
    padding: 5px;
    border-radius: 50%;
    
}

.logo-header ul li{
    display: none;
}
/* notification card */
.cta{
    height: 70px;
    display: none;
}
/* search bar */
.search-bar{
    display: none;
    border: #ded5d5 solid 6px;
    height: 60px;
}
.search-bar input{
    width: 250px;
    margin-left:10px;
    height: 40px;
    border:0;
}

/* avatar list */
.avatar-list{
    flex-grow: 1;
    overflow-y: scroll;
}
.avatar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.avatar img{
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    overflow-y: scroll;
}
.avatar p,span{
    display: none;
}
hr{
    color: lightgray;
}

.logo-top-right ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;   
}
.logo-top-right a{
    color: lightslategray;
}
/* creating two lines for the messages */

.message{
    height: calc(100% - 70px - 70px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 40px;
    
}
.message-right{
    display: flex;
    min-height: 140px;
    width: 400px;
    background-color: #d5f9ba;
    align-self: flex-end;
    margin: 40px;
    border-radius: 12px;
    padding: 20px;
}
.message-left{
    display: flex;
    min-height: 140px;
    width: 400px;
    background-color: white;
    align-self: center;
    margin: 40px;
    border-radius: 12px;
    padding: 20px;
}
/* footer right side */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: beige
}
.smile{
   color: grey;
}
.text input{
    border: 0;
    padding: 15px;
    width: 400px;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
}
.microphone{
    color: grey;
}

/* adding details to messages */
.paragraph{
    display: flex;
}
.paragraph-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
}
.angle-down{
    position: relative;
  display: inline-block;
}
.angle-down:hover{
    opacity: 0.5;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .angle-down:hover .dropdown-content {
    display: block;
}


/* media query  at 540px*/

@media screen and (min-width: 540px) {
    .left-column{
        display: inline-flex;
       width: 10rem;

    }
    .right-column{
        display: block;
        width: 100%;
    }
    


}
/* media query at 991px */
@media screen and (min-width: 991px){
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-box{
        width: 80%;
        height: 95%;
    }
    .left-column{
        display: inline-flex;
        width: 350px;  
    }
    .right-column{
        display: block;
        width: 100%;
    }
    .search-bar{
        display: block;
    }
    .cta{
        display: block;
        background-color: #8edafc;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bell{
        background-color: white;
        padding: 10px;
        border-radius: 50%;
    }
    .notification a,h6{
        font-size: 12px;
    }
    .search-bar {
        background-color: white;
       
    }
    .search{
        width: 300px;
        height: 40px;
        padding-left: 20px;
    }

    .avatar p,span{
        display: block;
        padding: 3px;
        margin-top: 4px;
        margin-right: 5px;
    }
    .time{
        margin-top: 10px;
        font-size: 10px;
    }
    .name-description span{
        color: grey;
        font-size: 11px;
    }
    .logo-header ul li {
        display: inline-block;
        list-style-type: none;
        color: lightslategray;
        padding: 10px;
     }
     .logo-header a{
        color: grey;
     }

     .right-footer{
        position: relative;
        top: 658px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        border: 1px black solid;
    }
}
