<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper" id="app">


        <!-- main box -->
        <div class="main-box">

            <!-- left col -->
            <div class="left-column">
                <!-- header  on the left -->
                <div class="header">
                    <div class="io">
                        <img src="img/avatar_io.jpg" alt="">
                    </div>
                    <div class="logo-header">
                        <ul>
                            <li><a href="#" title="Refresh"><i class="fa-solid fa-circle-notch"></i></a></li>
                            <li><a href="#" title="Messages"><i class="fa-solid fa-message"></i></a></li>
                            <li><a href="#" title="More options"><i class="fa-solid fa-ellipsis fa-rotate-90"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- /header -->

                <!-- notification cta -->
                <div class="cta">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash" style="color: #2fa8c6;"></i>
                    </div>
                    <div class="notification">
                        <h6>Ricevi notizie di nuovi messaggi</h6>
                        <a href="">attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /cta -->

                <!-- search bar cerchimao l'utente per nome-->
                <div class="search-bar">
                    <div class="search">
                        <label for=""><i class="fas fa-search"></i></label>
                        <input v-model="searchText" type="search" name="" id="" @keyup="searchPlayer">

                    </div>

                </div>
                <!-- /search bar -->

                <!-- avatar list-->
                <!-- Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare
                       nome e immagine di ogni contatto riga 68 e riga 73  //milestone 1.    (class="avatar")-->
                <div class="avatar-list">
                    <!-- creo una classe active al click -->
                    <div v-for="(player, index) in players"
                        :class="(index == indexPlayer) ? 'avatar active' : 'avatar' " @click="setActivePlayer(index)"
                        v-show="player.visible">
                        <div class="img">
                            <img :src="player.image" alt="">
                        </div>
                        <div class="name-description">
                            <p>{{player.name}}</p>
                            <span></span>
                        </div>
                        <div class="time">
                            <p></p>
                        </div>
                    </div>
                    <hr>
                </div>


            </div>

            <!-- / end left col -->

            <!-- start right col -->
            <div class="right-column">
                <!-- head right top -->
                <div class="right-top">
                    <div class="right-img">
                        <img src="img/avatar_1.jpg" alt="">
                        <ul>
                            <li>Michele</li>
                            <li class="access">Ultima visita effetuata alle 16:26</li>
                        </ul>
                    </div>
                    <div class="logo-top-right">
                        <ul>
                            <li><a href=""><i class="fa-solid fa-circle-notch"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-message"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-ellipsis fa-rotate-90"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- messaggio destro verde-->
                <div class="message">
                    <div class="message-right">
                        <div class="paragraph"  >
                            <div>
                               <p>{{players[indexPlayer].text}}</p>
                            </div>
                        </div>
                    </div>
                    
                <!-- messaggio sinistro bianco-->

                    <div class="message-left">
                        <div class="paragraph"></div>
                        <div>
                            <p>{{players[indexPlayer].text_amigo}}</p>
                        </div>
                    </div>
                </div>

                

                <!-- footer input per inserire nuovo messaggio -->
                <div class="footer">
                    <div class="smile"><i class="fa fa-light fa-face-smile"></i></div>
                    <div class="text">
                        <input v-model="newText" type="text" name="" id="" placeholder="Invia un messaggio">
                    </div>
                    <button @click="addNewText()" class="microphone" title="Send message">
                        <i class="fa-solid fa-paper-plane"></i></button>
                    <div class="microphone"><i class="fa-solid fa-microphone"></i></div>
                </div> 
                <!-- footer -->

            </div>
            <!-- right col -->

        </div>

        <!-- main box -->


    </div>

    <!-- end wrapper -->

    <script src="catalogo.js"></script>
    <script src="main.js"></script>
</body>

</html>